@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

.AlbumCard {
  margin: 0.9em;
  height: 5em;
  max-width: 145em;
  flex: 1 1 auto;
  display: flex;
  /* background-color: white; */
  background: rgb(185, 198, 213);
  background: linear-gradient(
    90deg,
    rgba(185, 198, 213, 0) 30%,
    rgba(185, 198, 213, 1) 100%
  );
  box-shadow: 0 2px 3px #ccc;
}

.AlbumCard:hover {
  box-shadow: 0 2px 3px #40a4c8;
}

/* .LocImage {
  height: 100%;
  max-width: 17em;
  object-fit: cover;
  flex: 1 1 auto;
  border-radius: 50%;
  padding: 5px;
} */

.AlbumCardBody {
  width: 22em;
  max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.8em;
  position: relative;
}

.AlbumCardText {
  position: relative;
  flex: 1;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  margin: 0 0 0.8em 0;
  padding: 0;
}

.AlbumTotal {
  min-width: 8.3em;
  flex: none;
  align-self: flex-start;
  margin-top: auto;
  padding: 0.6em 1.2em;
  font-size: 0.92em;
  color: #404646;
  background: none;
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 0.5px solid #777;
    border-radius: 2px; */
}

.AlbumCardText h2,
h3,
p {
  margin-top: 0;
}

.AlbumCardText h2 {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

/* .LocCardText:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2.8em;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  } */

a {
  color: #d07777;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .AlbumCard {
    margin: 0.78em;
  }
  .AlbumImage {
    max-width: 17em;
  }
}

@media (max-width: 870px) {
  .AlbumCard {
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .AlbumCard {
    margin: 0.75em 1.1em;
    height: 7em;
    flex: 1 1 auto;
    display: flex;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  }
  .AlbumImage {
    max-width: 40%;
  }
  .AlbumCardText h2,
  h3,
  p {
    margin-top: 0;
    font-size: 0.9em;
  }

  .AlbumTotal {
    font-size: 0.8em;
  }
}
