.MiniSiteMap {
  /* height: 36px; */
  width: 100%;
  /* position: fixed;
    bottom: 0;
    left: 0; */
  background-color: #b6b8b9;
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
  /* align-items: center; */
  padding: 0 40px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  z-index: 90;
}

.MapElement {
  display: inline-block;
  padding: 5px 10px;
  color: white;
}

.Separator {
  display: inline-block;
  padding: 5px 10px;
  color: white;
}

/* .MapElement:hover {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #aaaaaa; 
} */

.MapElement a {
  color: white;
  height: 100%;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.MapElement a:hover,
.MapElement a:active,
.MapElement a.active {
  /* background-color: #aaaaaa; */
  border-bottom: 2px solid #40a4c8;
}

@media (max-width: 500px) {
  .MiniSiteMap {
    flex-flow: column;
  }
  .Separator {
    display: none;
  }
}
