.MiniSiteMap {
  width: 100%;
  /* background-color: #b6b8b9; */
  background-color: LightSlateGray;
  display: flex;
  justify-content: left;
  padding: 0 40px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  z-index: 90;
}

.MapElement {
  display: inline-block;
  padding: 5px 10px;
  color: white;
}

.MapElement a {
  /* color: white; */
  color: white;
  height: 100%;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.MapElement a:hover,
.MapElement a:active,
.MapElement a.active {
  border-bottom: 2px solid #40a4c8;
}

@media (max-width: 500px) {
  .MiniSiteMap {
    flex-flow: column;
  }
  .MapElement {
    padding: 1px 0px 1px 0px;
  }
}
