.Locations {
  max-width: 1600px;
  width: 84%;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  padding: 0.9em;
  margin: 0px auto 0px auto;
}

.Locations a {
  color: #364f6b;
}

.Locations a:hover {
  color: #40a4c8;
}

.Container {
  margin: 95px auto 60px auto;
  width: 95%;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
}

.Icon {
  color: LightSteelBlue;
}

.SearchBar {
  width: 80%;
  max-width: 800px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto 25px auto;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.SearchTerm:focus {
  color: #00b4cc;
}

@media (max-width: 699px) {
  .Container {
    margin: 70px auto 40px auto;
  }
}
