.SliderBlock {
  margin: 10px auto 65px auto;
  background-color: whitesmoke;
  /* margin: 10px 5px 65px 5px; */
  width: 85%;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  /* box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee; */
  padding: 2px;
  box-sizing: border-box;
  /* z-index: 99 !important; */
}

.BlockTitle {
  text-align: left;
  margin: 5px auto 5px auto;
  width: 80%;
  color: #364f6b;
  /* display: block; */
}

.SlideCard {
  width: auto;
  margin: 0 auto;
}

@media (max-width: 449px) {
  .SlideCard {
    margin-left: -15px;
  }

  .SliderBlock {
    justify-content: center;
  }
}
