/* @import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background: #2b2927;
  font-family: 'Poppins', sans-serif;
} */

.ContainerAll {
  width: fit-content;
  margin: 20px auto;
  height: auto;
}

.CatCard {
  margin: 0.9em;
  height: 250px;
  width: 250px;
  flex: 1 1 auto;
  display: flex;

  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 3px #ccc;
  /* position: relative; */
  /* float: left; */
}

.CatCard:hover {
  box-shadow: 0 2px 3px #40a4c8;
}

.CatCard:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  filter: grayscale(50%);
  opacity: 0.7;
}

.CatImage {
  height: 100%;
  width: 100%;
  /* width: 250px; */
  max-width: 19.5em;
  object-fit: cover;
  flex: 1 1 auto;
}

.CatCardBody {
  height: 250px;
  width: 250px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 1.8em;
  position: relative;
}

/* .CatCardText {
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0.8em 0;
    padding: 0;
  } */

.CatTotal {
  min-width: 8.3em;
  flex: none;
  align-self: flex-start;
  /* margin-top: auto; */
  padding: 0.6em 1.2em;
  font-size: 0.92em;
  color: #404646;
  background: none;
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 0.5px solid #777;
      border-radius: 2px; */
}

.CatCardText h2 {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35%;
  /* display: none; */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: 0.3s;
}

.CatCardText h3 {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}

.CatCardText:hover span {
  color: white;
  display: block;
  transition-duration: 0.3s;
}

/* .CatCardText:after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 2.8em;
      background: linear-gradient(rgba(255, 255, 255, 0), white);
    } */

a {
  color: #d07777;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .CatCard {
    margin: 0.78em;
  }
  .CatImage {
    max-width: 18em;
  }
}

@media (max-width: 870px) {
  .CatCard {
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .CatCard {
    margin: 0.75em 1.1em;
    height: 15em;
    flex: 1 1 auto;
    display: flex;
    background-color: white;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  }
  .CatImage {
    max-width: 45%;
  }
}

.Container {
  width: calc(33% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 0;
  display: block;
  position: relative;
  float: left;
}
.Container img {
  width: 100%;
  transition-duration: 0.3s;
  max-width: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.Title {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: 0.3s;
}
.Text {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}
.Container:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  filter: grayscale(50%);
  opacity: 0.7;
}
.Container:hover span {
  color: white;
  display: block;
  transition-duration: 0.3s;
}
@media only screen and (max-width: 900px) {
  .Container {
    width: calc(50% - 6px);
  }
}
@media only screen and (max-width: 400px) {
  .Container {
    width: 100%;
  }
}
