.PageTitle {
  margin: 0px auto 20px auto;
  width: 85%;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  flex-flow: column;
}

.PageTitleSpan {
  margin: 5px 0px 5px 0px;
  width: 100%;
  color: #364f6b;
  font-size: 2em;
  font-weight: bold;
}

.AddInfoSpan {
  margin: 3px 0px 3px 0px;
  width: 100%;
  color: #364f6b;
  font-size: 1.2em;
  font-weight: bold;
}

.PageTitle hr {
  background-image: linear-gradient(to bottom right, #364f6b, #96a3b1);
  height: 3px;
  border: none;
  margin-top: 3px;
  width: 100%;
}

@media (max-width: 699px) {
  .PageTitleSpan {
    font-size: 1.2em;
  }
  .AddInfoSpan {
    font-size: 1em;
  }
}
