.Description {
  margin: 25px auto 20px auto;
  width: 85%;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
  text-align: right;
}

.Description span {
  margin: 5px auto 15px auto;
  width: 100%;
  color: #364f6b;
  font-size: 2em;
  font-weight: bold;
}

.Description hr {
  background-image: linear-gradient(to bottom right, #364f6b, #96a3b1);
  height: 3px;
  border: none;
  width: 100% !important;
}

@media (max-width: 699px) {
  .Description span {
    font-size: 1.5em;
  }
}
