.AlbumInfo {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 2px 3px #ccc;
  padding: 15px;
  box-sizing: border-box;
}

.AlbumInfo span {
  text-align: left;
  font-size: 1rem;
}

.AlbumInfo a {
  outline: none;
}

@media (max-width: 699px) {
  .AlbumInfo span {
    font-size: 0.7rem;
  }
  .AlbumInfo {
    padding: 5px;
  }
}