.Location {
  margin: 0 auto 50px auto;
  max-width: 1600px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: left;
  padding: 0.9em;
}

.Container {
  margin: 95px auto 40px auto;
  width: 95%;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
}

.SlideCard {
  padding: 10px;
}

.WhiteLine {
  background-color: white;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 125px;
  position: fixed;
  bottom: -10px;
  left: 0px;
  opacity: 0.9;
}
